<% layout('layouts/main') -%>
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Resource not found! 404</h1>
                    <p>Ups!!</p>
                </div>
            </div>
        </div>
    </section>
</main>
